{% extends "parent.html" %}

{% block content %}
<!-- Elements -->
<div>
	<p>In this app we will go through a series of years of foreign investment in the United States starting from 1990 to 2018.
		Who are the largest foreign investors in the United States? .................................................................................................................................</p>
</div>

<div>
	<p>In this app we will go through a series of years of foreign investment in the United States starting from 1990 to 2018.
		Who are the largest foreign investors in the United States? ......................................................................................................................................</p>
</div>
{% endblock %}
						