{% extends "parent.html" %}

{% block content %}

<style>
	.col-md-9 {
		padding: 16px;
		margin-left: 2in;
		/* margin-right: 0in; */
	}

	p { text-indent: 45px; }
</style>
<!-- Elements -->
<div class="row">
	<div class="col-md-9">
		<!-- <div class='main'> -->
	<p>Foreign owned Multinational Corporations (MNCs) are one of the major contributors to the US economy and job employment. In 2019, the total stocks of Foreign Direct Investment (FDI) by the international MNCs amounted to $4.46 trillion. Among the investing countries, which ones invest more in the US and why – to address such critical questions, we utilize cutting-edge machine learning (ML) modeling to build our app. More specifically, our app manipulates a timeseries large dataset since 1982 covering 45 nations and predicts the country specific MNCs-FDI for the most recent year.</p>
		</p>
	
	
	</div>
</div>



{% endblock %}
						
