{% extends "parent.html" %}

{% block content %}

<style>
	.col-md-9 {
		padding: 16px;
		margin-left: 2in;
		/* margin-right: 0in; */
	}

	p { text-indent: 45px; }
</style>
<!-- Elements -->
<div class="row">
	<div class="col-md-9">
		<section>
		<p>In this app we will go through a series of years of foreign investment in the United States starting from 1990 to 2018. Who are the largest foreign investors in the United States? Checking lines style. In this app we will go through a series of years of foreign investment in the United States starting from 1990 to 2018.
		Who are the largest foreign investors in the United States? Who are the largest foreign investors in the United States?</p>
		<center><img src="../static/img/model_ols.PNG"></center>
				</section>

				<br>

		
		<section>
		<p>In this app we will go through a series of years of foreign investment in the United States starting from 1990 to 2018.
			Who are the largest foreign investors in the United States? In this app we will go through a series of years of foreign investment in the United States starting from 1990 to 2018. Checking randomly how is the intend going. Who are the largest foreign investors in the United States? Who are the largest foreign investors in the United States?</p>
			<center><img src="../static/img/model_kbest.PNG"></center>
		</section>

		<br>

		<section>
			<p>In this app we will go through a series of years of foreign investment in the United States starting from 1990 to 2018.
				Who are the largest foreign investors in the United States? In this app we will go through a series of years of foreign investment in the United States starting from 1990 to 2018. Checking randomly how is the intend going. Who are the largest foreign investors in the United States? Who are the largest foreign investors in the United States?</p>
				<center><img src="../static/img/model_collinearity.jpg"></center>
			</section>
	
			<br>

		
		
	
	</div>
</div>
<!-- </div> -->


{% endblock %}
						
