{% extends "parent.html" %}

{% block content %}

<style>
	.col-md-9 {
		padding: 16px;
		margin-left: 2in;
		/* margin-right: 0in; */
	}

	/* p { text-indent: 45px; } */
</style>
<!-- Elements -->
<div class="row">
	<div class="col-md-9">
		<section>
			<p>(i) The data analyses provide critical insights regarding the relationship between investing countries’ globalization trends and their investments in USA. While the recent waves of nationalism cast doubts over globalization, the amount of FDI in USA depicts a different scenario. Over the years, foreign MNCs have been continuously expanding their business activities and job employments in the US market. As the machine learning modeling suggests, higher the foreign countries’ scores in Globalization Index, higher their possibilities of investment in USA.</p>
			<center><img src="../static/img/insight_top_regions_resized.png"></center>
					</section>
	
					<br>
	
			
			<section>
			<p>(ii) Figure-1 ranks the top regions by their average investment in USA. As the plot shows, Canada & Pacific and Europe have been the leading regions for the FDI by their MNCs. However, it is important to point out that overtime with the increase in Globalization Index scores, many countries from Asia, Latin America, and Africa are emerging as key players in expanding their MNC activites in USA.</p>
				<center><img src="../static/img/insight_top_countries_resized.png"></center>
			</section>
	
			<br>

			<section>
				<p>(iii) Figure-2 ranks the top 25 countries by their average investment in USA. In line with the above discussed analysis, Figure-2 also implies that the majority of top 25 countries belong to the European (UK, Netherlands, Germany, France, Switzerland, Luxembourg, Ireland, Belgium, Sweden, Spain, Hungary, Italy, Norway, Denmark, and Finland) and Canada & Pacific (Canada and Australia) regions. However, a growing number of countries from the Asian (Japan, South Korea, Singapore, China, Israel, and Hong Kong) and Latin American (Mexico and Panama) regions are emerging as influential investors and owners of foreign MNCs in USA.</p>			
			</section>

			<br>

			<section>
				<p>(iv) Our app predicts the FDI by majority of the countries with reasonable accuracy. It is important to emphasize that the country level machine learning modeling often deals with generating estimations of million/trillion $ unit size. Also, researcher and policymakers caution us to be careful regarding the intentional or unintentional bias about country level data. For example, the country level Globalization Index scores are relatively higher for Greece, Portugal, Malaysia, Philippines, and Argentina. Therefore, the app predicted FDI by these countries are higher compared to the actual FDI. Besides such limited instances of over-valuation, however, our app fairly predicts close estimations of FDI for the rest of the investing countries.</p>			
			</section>

			<br>

				<section>
					<p>For more information on the historic data, use the <a href="https://public.tableau.com/profile/sabrina.saleh#!/vizhome/mnc-fdi-usa-app/story_map" style="color:orange">Interactive Global Map</a> to visualize the FDI in USA over 1982 to 2019.</p>
				</section>
	
			
			
		
		</div>
	</div>
	<!-- </div> -->
	
	
	{% endblock %}
								
