{% extends "parent.html" %}

{% block content %}

<style>
	.col-md-9 {
		padding: 16px;
		margin-left: 2in;
		/* margin-right: 0in; */
	}

	/* p { text-indent: 45px; } */
</style>
<!-- Elements -->
<div class="row">
	<div class="col-md-9">
		<section>
			<p>(i) The data analyses provide critical insights regarding the relationship between investing countries’ globalization trends and their investments in the USA. While the recent waves of nationalism cast doubts over globalism, the amount of FDI in the USA depicts a different scenario. Over the years, foreign MNCs have been continuously increasing their business activities in the economic and job markets. As the machine learning modeling suggests, higher the foreign countries’ scores in Globalization Index, higher their possibilities of investing in the USA.</p>
			<center><img src="../static/img/insight_top_regions.PNG"></center>
					</section>
	
					<br>
	
			
			<section>
			<p>(ii) Figure-1 ranks the top regions by their average investment in the USA. As the plot shows, Canada & Pacific and Europe have been the leaders in FDI by MNCs. However, it is important to point out that with the increase in Globalization Index scores, many countries from Asia, Latin America, and Africa, are emerging as key players in US investment.</p>
				<center><img src="../static/img/insight_top_countries.PNG"></center>
			</section>
	
			<br>

			<section>
				<p>(iii) Figure-2 ranks the top 25 countries by their average investment in the USA. In line with the above discussed analyses, Figure-2 also implies that the majority of the top 25 countries belong to the European (UK, Netherlands, Germany, France, Switzerland, Luxembourg, Ireland, Belgium, Sweden, Spain, Hungary, Italy, Norway, Denmark, and Finland) and Canada & Pacific (Canada and Australia) regions. However, a number of countries from the Asian (Japan, South Korea, Singapore, China, Israel, and Hong Kong) and Latin American (Mexico and Panama) regions are emerging as influential investors and owners of foreign MNCs in the USA.</p>			
			</section>

				<section>
					<p>Use the <a href="https://public.tableau.com/profile/sabrina.saleh#!/vizhome/mnc-fdi-usa-app/story_map" style="color:orange">Interactive Global Map</a> to visualize the FDI in USA over 1982 to 2019.</p>
				</section>
	
			
			
		
		</div>
	</div>
	<!-- </div> -->
	
	
	{% endblock %}
								
